@using WebApplication1.Models;
@using WebApplication1.Controllers;
@model IEnumerable<Todo>
@{
    Layout = "~/Views/Shared/default.cshtml";
}

<div class="container">
    <div class="header">
        <h1>TODO list @Bag["Title"] </h1>
    </div>

    @foreach (var t in this.Model)
    { 
        <p> 
        @t.Id  @t.Name
        @Url.Link(TodoController.Urls.Edit(@t.Id), "Edit")
        </p>    

    }

    @Url.Link(TodoController.Urls.New(), "New")

    

</div>
