@using WebApplication1.Models;
@using WebApplication1.Controllers;
@model IEnumerable<Todo>
@{
    Layout = "~/Views/Shared/default.cshtml";
}


@helper IfLoggedOn(Func<object, HelperResult> content) {
    string currentUser = null;
    if (currentUser == null) {
        <i>
            To use this content, you must 
            <a href="@Href("~/Login")">log in</a>.
        </i>
    } else {
        @content(currentUser)
    }
}

@IfLoggedOn(
    @<form action="add" method="post">
        
        <input type="submit" name="Submit" value="Add Comment" />
    </form>
)

<div class="container">
    <div class="header">
        <h1>TODO list @Bag["Title"] </h1>
    </div>



    @foreach (var t in this.Model)
    { 
        // @Form.

        <p> 
        @t.Id  @t.Name
        @Url.Link(TodoController.Urls.Edit(@t.Id), "Edit")
        </p>    

    }

    @Url.Link(TodoController.Urls.New(), "New")
	


</div>
