@using WebApplication1.Controllers
@model WebApplication1.Models.Todo
@{
    Layout = "~/Views/Shared/default.cshtml";
}
           
<div class="container">
    <div class="header">
        <h1>TODO</h1>
    </div>

    @Form.FormFor(WebApplication1.Controllers.TodoController.Urls.Create(), @=> builder {
        
        <fieldset id="contactForm">
            
			<legend>Message</legend>
            
			<p>
                @builder.Label("Name")
                @builder.TextField("Name")
            </p>
			
            <p>
                @builder.Label("Email"): 
                @builder.TextField("Email")
            </p>

			@builder.FieldsFor(@=> fbuilder { 
				<a>

				<p>
					<input type="submit" value="Send" />
				</p>
				
				</a>
			})
                
        </fieldset>
                
		}
    ) 
	
