@@modeltype 
@{
    Layout = "~/Views/Shared/default.cshtml";
}

<div class="container">
    <div class="header">
        <h1>Default Home Page - </h1>
        <h3>Well, sir, there's nothing on earth like a genuine, bona fide, Electrified, Six-car Monorail!</h3>
    </div>

    @using (Form.BeginForm(WebApplication1.Controllers.TodoController.Urls.Create()))
    {
        <fieldset id="contactForm">
            <legend>Message</legend>
            <p>
                @Html.Label("Email", "Email"): 
                @Html.TextInput("Email")
            </p>
            <p>
                @Html.Label("Subject", "Subject"): 
                @Html.TextInput("Subject")
            </p>
            <p>
                @Html.Label("Message", "Message"): 
                @Html.TextInput("Message")
            </p>
            <p>
                <input type="submit" value="Send" />
            </p>
        </fieldset>
    } 
	
</div>