@using WebApplication1.Controllers
@model WebApplication1.Models.SiteUser
@{
    Layout = "~/Views/Shared/default.cshtml";
}
           
<div class="container">
    <div class="header">
        <h1>User</h1>
    </div>

    @Form.For(Model, UserController.Urls.PostCreate.Post(), @=> builder {
    
        builder.FormTemplate(@=> t {
                <div>
                    @t.Label(): @t.Field()
                </div>                                                      
            });
   
        <fieldset id="contactForm">    

        @builder.TemplateFor( m => m.Name )
        @builder.TemplateFor( m => m.Email )
        
        </fieldset>
    }) 
