@using WebApplication1.Models;
@using WebApplication1.Controllers;
@model IEnumerable<SiteUser>
@{
    Layout = "~/Views/Shared/default.cshtml";
}

<div class="container">
    <div class="header">
        <h1>Users - @Bag["Title"] </h1>
    </div>

    @foreach (var t in this.Model)
    { 
        <p> 
        @t.Id  @t.Name
        @Url.Link(UserController.Urls.Edit.Get(t.Id), "Edit")
        </p>    
    }

    @Url.Link(UserController.Urls.New.Get(), "New")

    <form action="/testvpath/user/message" method="POST">
        <input name="msg[Value]" value="-1" type="number" />
        <input name="msg[OptValue]" value="" type="text" />
        <input name="msg[Description]" value="" type="text" />

        <input type="submit" />
    </form>

</div>
